[user]
	name = Teppei Yano
	email = buckelwal@gmail.com
[color]
	ui = auto
[core]
	excludesfile = ~/.gitignore
[alias]
	st = status
	di = diff
	dc = diff --cached
	co = checkout
	br = branch
[ghq]
	root = ~/src
